body {
  background: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cormorant Garamond', serif;
  height: 100vh;
  overflow: hidden;
  background: white;
}

/* ФОН */
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.9);
}

/* ТЕКСТ */
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.date {
  font-size: 14px;
  letter-spacing: 0.15em;
  opacity: 0.7;
  margin-bottom: 8px;
}

.text {
  font-size: 28px;
  line-height: 1.5;
  max-width: 720px;
  margin: 0 auto;
  letter-spacing: 0.03em;
  font-weight: 400;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
  white-space: nowrap;
}

.line {
  font-size: 28px;
  line-height: 1.5;
  max-width: 720px;
  margin: 0 auto;
  letter-spacing: 0.02em;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
}